<section>
  <p>
    <mat-form-field>
      <mat-label>Champion Name</mat-label>
      <input matInput required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Chaos God</mat-label>
      <select matNativeControl required>
        <option value="0">Undivided</option>
        <option value="1">Khorne</option>
        <option value="2">Slaneesh</option>
        <option value="3">Nurgle</option>
        <option value="4">Tzeentch</option>
      </select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Seed</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <p>
    <button mat-flat-button>
      <mat-icon>bolt</mat-icon>
      Generate
    </button>
  </p>
</section>
<mat-divider></mat-divider>
