<form class="example-form">

  <mat-form-field>
    <mat-label>Champion Name</mat-label>
    <input matInput required [(ngModel)]="createWarbandRequest.championName" name="championName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Chaos Patron</mat-label>
    <select matNativeControl required [(ngModel)]="createWarbandRequest.chaosPatron" name="chaos-patron">
      <option value="0">Undivided</option>
      <option value="1">Khorne</option>
      <option value="2">Slaneesh</option>
      <option value="3">Nurgle</option>
      <option value="4">Tzeentch</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seed</mat-label>
    <input matInput required [(ngModel)]="createWarbandRequest.seed" name="seed">
  </mat-form-field>

  <button mat-flat-button (click)="onCreateWarband()">
    <mat-icon>bolt</mat-icon>Generate
  </button>

</form>

<mat-divider></mat-divider>

<div class="warband-container">

  <div class="warband-section">
    <div>
      <span class="warband-label">Champion</span>
      <span class="warband-value">{{warband?.champion?.name}}</span>
    </div>
    <div>
      <span class="warband-label">Chaos Patron</span>
      <span class="warband-value">{{ warband?.champion?.chaosPatronDisplayName() }}</span>
    </div>
    <div>
      <span class="warband-label">Race</span>
      <span class="warband-value">{{ warband?.champion?.raceDisplayName() }}</span>
    </div>
  </div>

  <div class="warband-section">
    <div>
      <span class="warband-label">Rewards/Attributes</span>
      <span class="warband-value">
        {{warband?.champion?.rewardToAttributeRatio()}}
      </span>
    </div>
    <div>
      <span class="warband-label">Equipment Pts</span>
      <span class="warband-value">{{warband?.champion?.equipmentPoints}}</span>
    </div>
    <div>
      <span class="warband-label">Fear Pts</span>
      <span class="warband-value">{{warband?.champion?.fearPoints()}}</span>
    </div>
  </div>

  <app-profile class="warband-section" [profile]="warband?.champion?.profileWithBonuses()"></app-profile>

  <div class="warband-section">
    <span class="warband-list-label">Rewards</span>
    <mat-list>
      @for (reward of warband?.champion?.rewards; track reward.name) {
      <mat-list-item>
        <span class="warband-value" matListItemTitle>{{reward.name}}</span>
        <p matListItemLine>{{reward.description}}</p>
      </mat-list-item>
      }
    </mat-list>
  </div>
  <div class="warband-section">
    <span class="warband-list-label">Attributes</span>
    <mat-list>
      @for (attribute of warband?.champion?.attributes; track attribute) {
      <mat-list-item>
        <span class="warband-value" matListItemTitle>{{attribute.name}} (<small>{{attribute.fearPoints}}fp</small>)</span>
        <p matListItemLine>{{attribute.description}}</p>
      </mat-list-item>
      }
    </mat-list>
  </div>
  <div class="warband-section">
    <span class="warband-list-label">Weapons</span>
    <mat-list>
      @for (weapon of warband?.champion?.weapons; track weapon.name) {
      <mat-list-item>
        <span class="warband-value" matListItemTitle>{{weapon.name}}</span>
      </mat-list-item>
      }
    </mat-list>
  </div>
  <div class="warband-section">
    <span class="warband-list-label">Armor</span>
    <mat-list>
      @for (armor of warband?.champion?.armor; track armor.name) {
      <mat-list-item>
        <span class="warband-value" matListItemTitle>{{armor.name}}</span>
      </mat-list-item>
      }
    </mat-list>
  </div>

</div>


