<div class="warband-container">

  <div>
    <div>
      <span class="warband-label">Champion</span>
      <span class="warband-value">{{warband.champion.name}}</span>
    </div>
    <div>
      <span class="warband-label">Chaos Patron</span>
      <span class="warband-value">{{ warband.champion.chaosPatronDisplayName() }}</span>
    </div>
    <div>
      <span class="warband-label">Race</span>
      <span class="warband-value">{{ warband.champion.raceDisplayName() }}</span>
    </div>
  </div>

  <div>
    <div>
      <span class="warband-label">Rewards/Attributes</span>
      <span class="warband-value">
        {{warband.champion.rewardToAttributeRatio()}}
      </span>
    </div>
    <div>
      <span class="warband-label">Equipment Pts</span>
      <span class="warband-value">0</span>
    </div>
    <div>
      <span class="warband-label">Fear Pts</span>
      <span class="warband-value">0</span>
    </div>
  </div>
  <div>
    <span class="warband-label">Weapons</span>
  </div>
  <div>
    <span class="warband-label">Armor</span>
  </div>
  <app-profile></app-profile>
</div>


