<mat-dialog-content>
  <div mat-dialog-container class="warband-container">

      <mat-form-field>
        <mat-label>Armor</mat-label>
        <mat-select required [(ngModel)]="armorList" name="armor">
          <mat-option [value]="0">Light Armor</mat-option>
          <mat-option [value]="1">Heavy Armor</mat-option>
          <mat-option [value]="2">Chaos Armor</mat-option>
        </mat-select>
      </mat-form-field>

  </div>   
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-button class="dialog-cancel-button" [mat-dialog-close]="0" cdkFocusInitial>Cancel</button>
  <button mat-flat-button color="primary" (click)="onAdd()"><mat-icon>done</mat-icon> Add</button>
</mat-dialog-actions>
