<h2 mat-dialog-title>Add Armor</h2>
<mat-dialog-content>
  <div mat-dialog-container class="armor-container">

      <mat-form-field>
        <mat-label>Armor</mat-label>
        <mat-select required [(ngModel)]="selectedArmor" name="selected-armor">
          <mat-option *ngFor="let armor of armorList" [value]="armor">{{ armor.name }}</mat-option>
        </mat-select>
      </mat-form-field>

    <div class="armor-profile-container">
      <div class="armor-profile-header">Armor Save</div>
      <div class="armor-profile-header">Cost</div>

      <div class="armor-profile-row">{{armorSaveDisplay()}}</div>
      <div class="armor-profile-row">{{selectedArmor?.cost}}</div>
    </div>

    <ul class="armor-rules">
      <li *ngFor="let rule of selectedArmor?.specialRules">{{rule.description}}</li>
    </ul>

  </div>
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-button class="dialog-cancel-button" [mat-dialog-close]="0" cdkFocusInitial>Cancel</button>
  <button mat-flat-button color="primary" [disabled]='selectedArmor == null'  (click)="onAdd()"><mat-icon>done</mat-icon> Add</button>
</mat-dialog-actions>
