.armor-container
{
    margin:8px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "selection profile" "rules rules";

}

.armor-rules
{
    grid-column: span 2;
    padding-inline-start: 0px;
}

  .armor-rules li
  {
    margin-bottom: 16px;


  }

.armor-profile-container
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin:0px 8px 20px 8px;
}

.armor-profile-header
{
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  padding: 4px;
  background-color: whitesmoke;
}

.armor-profile-row
{
  border: 1px solid black;
  text-align: center;
  padding: 4px;
  min-height:20px;
}
