.armor-container
{
    margin:8px;
}

.armor-profile-container
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin:8px;
}

.armor-profile-header
{
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  padding: 4px;
  background-color: whitesmoke;
}

.armor-profile-row
{
  border: 1px solid black;
  text-align: center;
  padding: 4px;
  min-height:20px;
}
