<div class="profile-container">
  <div class="profile-header">Profile</div>
  <div class="profile-header">M</div>
  <div class="profile-header">WS</div>
  <div class="profile-header">BS</div>
  <div class="profile-header">S</div>
  <div class="profile-header">T</div>
  <div class="profile-header">W</div>
  <div class="profile-header">I</div>
  <div class="profile-header">A</div>
  <div class="profile-header">Ld</div>
  <div class="profile-header">Int</div>
  <div class="profile-header">Cl</div>
  <div class="profile-header">Wp</div>

  <div class="profile-row">{{champion?.profileWithBonuses()?.description}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('M')}">{{champion?.profileWithBonuses()?.movement}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('WS')}">{{champion?.profileWithBonuses()?.weaponSkill}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('BS')}">{{champion?.profileWithBonuses()?.ballisticSkill}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('S')}">{{champion?.profileWithBonuses()?.strength}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('T')}">{{champion?.profileWithBonuses()?.toughness}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('W')}">{{champion?.profileWithBonuses()?.wounds}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('I')}">{{champion?.profileWithBonuses()?.initiative}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('A')}">{{champion?.profileWithBonuses()?.attacks}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('Ld')}">{{champion?.profileWithBonuses()?.leadership}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('Cl')}">{{champion?.profileWithBonuses()?.cool}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('Int')}">{{champion?.profileWithBonuses()?.intelligence}}</div>
  <div [ngClass]="{'profile-row':true, 'bonus-stat': champion?.profileStatHasBonus('Wp')}">{{champion?.profileWithBonuses()?.willPower}}</div>
</div>
