<div class="profile-container">
  <div class="profile-header">M</div>
  <div class="profile-header">WS</div>
  <div class="profile-header">BS</div>
  <div class="profile-header">S</div>
  <div class="profile-header">T</div>
  <div class="profile-header">W</div>
  <div class="profile-header">I</div>
  <div class="profile-header">A</div>
  <div class="profile-header">Ld</div>
  <div class="profile-header">Int</div>
  <div class="profile-header">Cl</div>
  <div class="profile-header">Wp</div>

  <div class="profile-row">{{profile.movement}}</div>
  <div class="profile-row">3</div>
  <div class="profile-row">3</div>
  <div class="profile-row">3</div>
  <div class="profile-row">3</div>
  <div class="profile-row">1</div>
  <div class="profile-row">3</div>
  <div class="profile-row">1</div>
  <div class="profile-row">7</div>
  <div class="profile-row">7</div>
  <div class="profile-row">7</div>
  <div class="profile-row">7</div>
</div>
