<mat-dialog-content>

  <div mat-dialog-container class="warband-container">

    <div class="warband-section">
      <mat-form-field>
        <mat-label>Champion Name</mat-label>
        <input matInput [(ngModel)]="data.champion.name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Chaos Patron</mat-label>
        <mat-select required [(ngModel)]="data.champion.chaosPatron" name="champion-patron">
          <mat-option *ngFor="let patronType of patronTypes" [value]="patronType.id">{{ patronType.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Race</mat-label>
        <mat-select required [(ngModel)]="data.champion.race" name="champion-race">
          <mat-option *ngFor="let raceType of raceTypes" [value]="raceType.id">{{ raceType.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hero Level</mat-label>
        <mat-select [(ngModel)]="data.champion.characterBonus" [compareWith]="compareProfiles" name="hero-level">
          <mat-option *ngFor="let heroLevel of bonusLevels" [value]="heroLevel">{{ heroLevel.description }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="warband-section">
      <mat-form-field>
        <mat-label>Equipment Pts</mat-label>
        <input matInput [(ngModel)]="data.champion.equipmentPoints">
      </mat-form-field>

      <div class="warband-label-section">
        <span class="warband-label">Rewards/Attributes</span>
        <span class="warband-value">
          {{data.champion.rewardToAttributeRatio()}}
        </span>
      </div>

      <div class="warband-label-section">
        <span class="warband-label">Fear Pts</span>
        <span class="warband-value">{{data.champion.fearPoints()}}</span>
      </div>
    </div>

    <app-profile class="warband-section" [champion]="data.champion"></app-profile>

    <div class="warband-section warband-list-section">
      <span class="warband-list-label">Rewards</span>
      <mat-list class="mat-list-wrapping">
        @for (reward of data.champion.rewards; track reward.name) {
        <mat-list-item>
          <span class="mat-list-title">{{reward.name}}</span>
          <p class="warband-list-text">{{reward.description}}</p>
        </mat-list-item>
        }
      </mat-list>
    </div>
    <div class="warband-section warband-list-section">
      <span class="warband-list-label">Attributes</span>
      <mat-list>
        @for (attribute of data.champion.attributes; track attribute) {
        <mat-list-item>
          <span class="mat-list-title">{{attribute.name}} (<small>{{attribute.fearPoints}}fp</small>)</span>
          <p class="warband-list-text">{{attribute.description}}</p>
        </mat-list-item>
        }
      </mat-list>
    </div>
    <div class="warband-section warband-list-section">
      <span class="warband-list-label">Weapons</span>
      <mat-list>
        @for (weapon of data.champion.weapons; track weapon.name) {
        <mat-list-item>
          <span class="warband-value" matListItemTitle>{{weapon.name}}</span>
        </mat-list-item>
        }
      </mat-list>
    </div>
    <div class="warband-section warband-list-section">
      <div><div class="list-header-button">Armor</div><button mat-icon-button color="primary"><mat-icon>add_circle</mat-icon></button></div>
      <mat-list>
        @for (armor of data.champion.armor; track armor.name) {
        <mat-list-item>
          <span class="warband-value" matListItemTitle>{{armor.name}}</span>
        </mat-list-item>
        }
      </mat-list>
    </div>

  </div>

</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" (click)="onDelete()"><mat-icon>clear</mat-icon> Delete</button>
  <span class="spacer"></span>
  <button mat-button class="dialog-cancel-button" [mat-dialog-close]="0" cdkFocusInitial>Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()"><mat-icon>done</mat-icon> Save</button>
</mat-dialog-actions>
