
.warbands-table {
  width: 100%;
}

.warbands-list-button-container {
  padding-bottom: 16px;
}

.mat-column-name {
  width: 30%;
}

.mat-column-patron {
  width: 10%;
}

.mat-column-profile {
  width: 10%;
}

.mat-column-seed {
  width: 50%;
}

.spacer {
  flex: 1 1 auto;
}


.dialog-cancel-button{
    margin-right:22px;
}
