<h2 mat-dialog-title>Add Chaos Reward</h2>
<mat-dialog-content>
  <div mat-dialog-container class="item-container">

    <mat-form-field>
      <mat-label>Reward</mat-label>
      <mat-select required [(ngModel)]="selectedReward" name="selected-reward">
        <mat-option *ngFor="let reward of rewardsList" [value]="reward">{{ reward.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="reward-description">{{selectedReward?.description}}</span>

    <div *ngIf="rewardAffectsProfile()" class="profile-container">
      <div class="profile-header">M</div>
      <div class="profile-header">WS</div>
      <div class="profile-header">BS</div>
      <div class="profile-header">S</div>
      <div class="profile-header">T</div>
      <div class="profile-header">W</div>
      <div class="profile-header">I</div>
      <div class="profile-header">A</div>
      <div class="profile-header">Ld</div>
      <div class="profile-header">Int</div>
      <div class="profile-header">Cl</div>
      <div class="profile-header">Wp</div>

      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.movement)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.weaponSkill)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.ballisticSkill)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.strength)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.toughness)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.wounds)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.initiative)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.attacks)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.leadership)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.cool)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.intelligence)}}</div>
      <div class="profile-row">{{profileStatDisplay(selectedReward?.profileBonus?.willPower)}}</div>
    </div>

    <ul class="item-rules">
      <li *ngFor="let rule of selectedReward?.specialRules">{{rule.description}}</li>
    </ul>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="dialog-cancel-button" [mat-dialog-close]="0" cdkFocusInitial>Cancel</button>
  <button mat-flat-button color="primary" [disabled]='selectedReward == null' (click)="onAdd()"><mat-icon>done</mat-icon> Add</button>
</mat-dialog-actions>
