.warbands-table {
  width: 100%;
}

.warbands-list-button-container {
  padding-bottom: 16px;
}

.warbands-button + .warbands-button {
  margin-left: 8px;
}

.mat-column-name {
  width: 1%;
  white-space: nowrap;
}

.mat-column-patron {
  width: 1%;
  white-space: nowrap;
}

.mat-column-race {
  width: 1%;
  white-space: nowrap;
}

.mat-column-seed {
  width: 97%;
  white-space: nowrap;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
}
